{% extends "base.html" %} {% block imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" />

{% endblock %} {% block content %}
<div id="main">
  <div id="title_container">
    <h1 id="title">EYE2AI</h1>
    <h2
      href=""
      class="typewrite"
      id="writer_container"
      data-period="2000"
      data-type='[ "hi im bhargav.", "solutions with machine learning.", "powered by tensorflow.", "i love to develop." ]'
    ></h2>
  </div>
  <div id="container">
    
      <div class="child">
         <h1>
            Machine Learning Architecture
          </h1>
          <p class="description">
            The machine learning model is based on a Convolutional Neural
            Network (CNN). CNN's are able to parse through an image and extract
            the most important features in an image for prediction through a
            series of Convolutional and Max Pooling layers. The result of these
            layers is a one dimensional layer that is passed to a series of
            dense layers to predict which class the image belongs to. The machine learning model is trained on Optical Coherence Tomography (OCT) images trained to detect three different eye diseases: CNV, DME, and Drusen.
          </p>
          <!-- <div id="evalution_container">
          <img src="{{ url_for('static', filename='model_accuracy_png.png')}}" width="200"height="200"  />
          <img src="{{ url_for('static', filename='model_loss_png.png')}}" width="200" height="200" />
        </div> -->
        
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img
                  src="{{ url_for('static', filename='model_accuracy_png.png')}}"
                  alt="Los Angeles"
                  style="width: 100%;"
                />
              </div>

              <div class="item">
                <img
                  src="{{ url_for('static', filename='model_loss_png.png')}}"
                  alt="Chicago"
                  style="width: 100%;"
                />
              </div>
            </div>

            <!-- Left and right controls -->
            <a
              class="left carousel-control"
              href="#myCarousel"
              data-slide="prev"
            >
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="right carousel-control"
              href="#myCarousel"
              data-slide="next"
            >
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        
      </div>
          <div id="input" class="child">
            <form action="/" method="POST" enctype="multipart/form-data">
              <label for="image">Select a file:</label>
              <input type="file" id="image" name="image" /><br /><br />
              <input type="submit" />
            </form>
          </div>
        
      
      
        <div class="child">
          <div class="slider">
  
            <a href="#slide-1">CNV</a>
            <a href="#slide-2">DME</a>
            <a href="#slide-3">DRU</a>
            <a href="#slide-4">NORM</a>
          
            <div class="slides">
              <div id="slide-1">
                <img
                src="{{ url_for('static', filename='images/cnv.png')}}"
                alt="Choroidal Neovascularization"
                class="slides_image"
              />
              </div>
              <div id="slide-2">
                <img
                src="{{ url_for('static', filename='images/dme.jpeg')}}"
                alt="Diabetic Macular Edema"
                class="slides_image"
              />
              </div>
              <div id="slide-3">
                <img
                src="{{ url_for('static', filename='images/drusen.jpeg')}}"
                alt="Drusen"
                class="slides_image"
              />
              </div>
              <div id="slide-4">
                <img
                src="{{ url_for('static', filename='images/normal.jpeg')}}"
                alt="Normal Eye"
                class="slides_image"
              />
              </div>
            </div>
          </div>
        </div>
        <div class="child">
          <h3>Conditions</h3>
          <div class="description">
            <h3><strong>Choroidal Neovascularization (CNV):</strong></h3>
            <div style="margin-left: 8ch;"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum consectetur quas quo at nesciunt fuga, voluptatem soluta officiis omnis aperiamenim! Odit, illum quo.</p></div>
            <h3><strong>Diabetic Macular Edema (DME):</strong></h3>
            <div style="margin-left: 8ch;"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum consectetur quas quo at nesciunt fuga, voluptatem soluta officiis omnis aperiamenim! Odit, illum quo.</p></div>
            <h3><strong>Drusen (DRU):</strong></h3>
            <div style="margin-left: 8ch;"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum consectetur quas quo at nesciunt fuga, voluptatem soluta officiis omnis aperiamlaudantium in enim! Odit, illum quo.</p></div>
          </div>
        </div>
      
    </div>

      <script src="{{ url_for('static', filename='Chart.js')}}"></script>
      <script>
        "{% if prediction %}";
        // <canvas id="myChart" width="600" height="600"></canvas>
        var ele = document.createElement("canvas");
        ele.id = "myChart";
        ele.width = 500;
        ele.height = 500;
        document.getElementById("input").appendChild(ele);
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: ["CNV", "DME", "DRU", "NORMAL"],
            datasets: [
              {
                data: [
                  "{{ cnv }}",
                  "{{ dme }}",
                  "{{ drusen }}",
                  "{{ normal }}",
                ],
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
            legend: {
              display: false,
            },
          },
        });

        "{% endif %}"
        var TxtType = function (el, toRotate, period) {
          this.toRotate = toRotate;
          this.el = el;
          this.loopNum = 0;
          this.period = parseInt(period, 10) || 2000;
          this.txt = "";
          this.tick();
          this.isDeleting = false;
        };

        TxtType.prototype.tick = function () {
          var i = this.loopNum % this.toRotate.length;
          var fullTxt = this.toRotate[i];

          if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
          } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
          }

          this.el.innerHTML = '<span id="wrap">' + this.txt + "</span>";

          var that = this;
          var delta = 200 - Math.random() * 100;

          if (this.isDeleting) {
            delta /= 2;
          }

          if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
          } else if (this.isDeleting && this.txt === "") {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
          }

          setTimeout(function () {
            that.tick();
          }, delta);
        };

        window.onload = function () {
          var elements = document.getElementsByClassName("typewrite");
          for (var i = 0; i < elements.length; i++) {
            var toRotate = elements[i].getAttribute("data-type");
            var period = elements[i].getAttribute("data-period");
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }

            // INJECT CSS
            //   var css = document.createElement("style");
            //   css.type = "text/css";
            //   css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
            //   document.body.appendChild(css);
          }
        };
      </script>

      {% endblock %}
    </div>
  </div>
</div>
